#app-parent {
  height: 100%;
}

#app-link {
  text-align: right;
}

#profile-parent {
  text-align: left;
  margin-left: 10vw;
  padding-top: 8vh;
  padding-bottom: 4vh;
}

#circle-icon {
  border-radius: 100%;
  width: 30vw;
}

#avater-title {
  font-size: 7vw;
}

.avater-description {
  font-size: 4vw;
}

#link-parent {
  text-align: center;
  margin-right: 10vw;
  margin-left: 10vw;
  margin-top: 5vh;
  font-size: 7vw;
}

.link-child {
  height: 13vw;
  padding: 1vw;
  padding-left: 4vw;
  padding-top: 3vw;
  margin-top: 3vh;
}

#link-image-twitter {
  background: url("img/logo-twitter.png") no-repeat right/10vw;
}
#link-image-github {
  background: url("img/logo-github.png") no-repeat right/10vw;
}
#link-image-hatenablog {
  background: url("img/logo-hatenablog.png") no-repeat right/10vw;
}
#link-image-memorandum {
  background: url("img/logo-memorandum.png") no-repeat right/10vw;
}
.link-image {
  margin-right: 1vw;
}

