<a [href]="item.url" class="article-wrapper-link" [class]="isFirst ? 'is-first': ''">
  <div class="article">
    <h3 class="title" *ngIf="item.title">
      {{item.title}}
    </h3>
    <div class="date_and_site">
      <span>
        {{ iso8601toStr() }}
      </span>
      <span *ngIf="item._site_name">
        - {{item._site_name}}
      </span>
    </div>
    <div class="content">
      <div *ngIf="item.content_html" >
        <div [innerHTML]="safeHtml()"></div>
      </div>
      <div class="description" *ngIf="item.content_text">
        {{description()}}
      </div>
    </div>
  </div>
</a>
