<div class="tabs-container">
  <nav class="tab-selector-wrapper">
      <button class="tab-selector" [class]="tabName === t ? ' selected':''" (click)="fetch(t)" *ngFor="let t of tabNames">
        {{t}}
      </button>
  </nav>
  <div class="feeds-wrapper">
    <span *ngIf="message.length">
      {{message}}
    </span>
    <span>
      <div class=json-feed-item-cards>
        <app-json-feed-item-card [item]="cardItem" [isFirst]="true" *ngFor="let cardItem of cardItems">
        </app-json-feed-item-card>
      </div>
    </span>
  </div>
</div>
