<div class="avater">
  <div class="avater-container">
    <div class="avater-container-start">
      <img
        src="../assets/gather_fishes_200x200.jpg"
        srcset="../assets/gather_fishes_200x200.jpg 1x, ../assets/gather_fishes_400x400.jpg 2x"
        class="avater-icon"
        alt="yammerjp avater icon"
        width="200px"
        height="200px"
      />
    </div>
    <div class="avater-container-end">
      <div class="avater-description">
        <div class="fullname">Keisuke Nakayama</div>
        <div class="nickname">yammer</div>
        <div class="description">
          <span class="description-mass">Web Application Developper /</span>
          <span class="description-mass">SCUBA Diver</span>
         </div>
      </div>
    </div>
  </div>
</div>

<div class="avater-svg-wrapper">
  <svg name="bezier-curve-circle">
    <clipPath id="bezier-curve-circle" clipPathUnits="objectBoundingBox">
    <path d="
             M 0 0.5
             C 0 0.166, 0.166 0, 0.5 0
             S 1 0.166, 1 0.5
             S 0.833 1, 0.5 1
             S 0, 0.833, 0, 0.5
             Z
             "/>
    </clipPath>
  </svg>
</div>
